*.pdb
*.exe
*.lib
*.dll

build/
release/
debug/
steamworks_sdk_157/
tests/

modules/glsl/
modules/modules_license.txt

lang_internal.t
lang_license.txt

fmod-logo.svg
fmod-logo.png

.svn/
.vs/

tetris/build/
tetris/tetris_license.txt
tetris/.vs/
